<ion-view title="Lowerclassman Profile ">
    <ion-content padding="true" class="has-header">
        <form class="list">
            
        </form>
        <div class="button-bar">
            <button class="button button-stable button-block ">Joe Bloggs</button>
            <button class="button button-stable button-block ">Computer Science</button>
        </div>
        <button class="button button-stable button-block ">Freshman</button>

        <label class="item item-input">
                <span class="input-label">List of Recommended Courses</span>
                <input type="text" placeholder="">
        </label>

        <button class="button button-stable button-block" ng-click="goTointrotocompsciState()">Intro to Comp Sci</button>
        <button class="button button-stable button-block">Freshman Compostition</button>
        <button class="button button-stable button-block">xxxx</button>
        <button class="button button-stable button-block">yyyy</button>
    
            
        
    </ion-content>
</ion-view>