<ion-view title="Shitosh">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Shitosh Parajuli</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/2/005/0a3/052/176eaf4.jpg">
                        <h2>Sophomore</h2>
                        <p>Systems and Computer Science</p>
                    </ion-item>
                </ion-list>
                <div>
                    <p>Short Bio: I am a born coder. Ask me anything!</p>
                </div>
            </div>
        </div>
        <ion-list>
            <ion-radio name="asdf">Intro to Computer Science</ion-radio>
        </ion-list>
        <ion-list>
            <ion-radio>Computer Science I</ion-radio>
        </ion-list>
        <form class="list">
            <ion-radio>Computer Science II</ion-radio>
        </form>
        <div class="button-bar"></div>
        <form class="list">
            <button class="button button-stable button-block ">Projects/Research</button>
        </form>
        <div class="button-bar"></div>
        <button class="button button-stable button-block button-small">Email</button>
        <button class="button button-stable button-block button-small">Message</button>
        <button class="button button-stable button-block button-small">Request Help</button>
    </ion-content>
</ion-view>