<ion-view title="Sign Up Page">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Full Name</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <select>
            <option value="HU">Howard University</option>
            <option value="Hampton">Hampton University</option>
            <option value="Morgan">Morgan State University</option>
        </select>
        <select>
            <option value="2016">May 2016</option>
            <option value="2017">May 2017</option>
            <option value="2018">May 2018</option>
            <option value="2019">May 2019</option>
        </select>
        <div class="spacer" style="height: 100px;"></div>
        <select>
            <option value="CompSci">Computer Science</option>
            <option value="CompE">Computer Engineering</option>
            <option value="ChemE">Chemical Engineering</option>
            <option value="Math">Mathematics</option>
        </select>
        <a href="#/page8" class="button button-stable button-block ">Create an account</a>
    </ion-content>
</ion-view>