<ion-view title="Upperclassmen Profile">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Pratik Koirala</div>
            <div class="item item-body">
                <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
                    <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
                </div>
                <div class="button-bar">
                    <button class="button button-stable button-block ">Sophomore</button>
                    <button class="button button-stable button-block ">Comp Sci</button>
                </div>
                <form class="list"></form>
            </div>
        </div>
        <ion-list>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search for course..">
            </label>
            <ion-item class="item-divider"></ion-item>
            <ion-item class="item-thumbnail-left" href="#/page8">
                <img src="/img/avatar-img.png">
                <h2>Intro to Computer Science</h2>
                <p>Scott Joseph</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2>Computer Science I</h2>
                <p>NIcki Washington</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2>Computer Science II</h2>
                <p>Marlon Mejias</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2>Computer Organization II</h2>
                <p>Gedare Bloom</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>